<section class="orders light-section">
    <div class="container mx-auto pt-12">
      <section class="profile py-16">
        <div class="container mx-auto">
          <h1 class="text-3xl -mt-12 font-bold -mb-10">Welcome To The Order List, <%= user.name %> 😊 </h1>
          <!-- Add your profile content here -->
          <!-- You can display user information or any other relevant content -->
        </div>
      </section>
      <h1 class="font-bold text-lg mb-4">All Orders</h1>
      <table class="w-full table-auto bg-white">
        <thead>
          <tr>
            <th class="px-4 py-2 text-left">Orders</th>
            <th class="px-4 py-2 text-left">Customer</th>
            <th class="px-4 py-2 text-left">Address</th>
            <th class="px-4 py-2 text-left">Status</th>
            <th class="px-4 py-2 text-left">Placed at</th>
            <th class="px-4 py-2 text-left">Payment Status</th>
          </tr>
        </thead>
        <tbody id="orderTableBody"></tbody>
      </table>
    </div>
  </section>
  