<section class="orders light-section">
    <div class="container mx-auto pt-12">
      <section class="profile py-16">
        <div class="container mx-auto">
          <h1 class="text-3xl -mt-12 font-bold -mb-10">Welcome To The Users List, </h1>
          
        </div>
      </section>
      <h1 class="font-bold text-lg mb-4">All Users</h1>

      <table class="w-full table-auto bg-white">
        <thead>
          <tr>
            <th class="px-4 py-2 text-left">Name</th>
            <th class="px-4 py-2 text-left">Email</th>
            <th class="px-4 py-2 text-left">Role</th>
          </tr>
        </thead>
        <tbody id="usersTableBody"></tbody>
      </table>
    </div>
  </section>
  